<div class="mt-5">
  <h1 translate>company.profile.name</h1>
  <p>
    {{ 'company.profile.intro' | translate }}
  </p>
  <h2 translate>company.currentStatus.name</h2>
  <p>
    ▪ {{ 'company.currentStatus.0' | translate }}
  </p>
  <p>
    ▪ {{ 'company.currentStatus.1' | translate }}
  </p>
  <h2 translate>company.RD.name</h2>
  <p>
    ▪ {{ 'company.RD.0' | translate }}
  </p>
  <p>
    ▪ {{ 'company.RD.1' | translate }}
  </p>
  <p>
    ▪ {{ 'company.RD.2' | translate }}
  </p>
  <h2 translate>company.client.name</h2>
  <p>
    ▪ {{ 'company.client.0' | translate }}
  </p>
  <p>
    ▪ {{ 'company.client.1' | translate }}
  </p>
  <p>
    ▪ {{ 'company.client.2' | translate }}
  </p>
  <p>
    ▪ {{ 'company.client.3' | translate }}
  </p>
  <p>
    ▪ {{ 'company.client.4' | translate }}
  </p>
  <p>
    ▪ {{ 'company.client.5' | translate }}
  </p>


</div>
