div {
  width: 50%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}
h1 {
  font-weight: 300;
  margin: 0 0 20px 0;
  color: #69bb7e;

}

h2 {
  font-weight: 300;
  margin: 0 0 20px 0;
  color: #69bb7e;
}
