<div>
  <ul>
    <li>
      {{ 'company.productServices.0' | translate }}
    </li>
    <li>
      {{ 'company.productServices.2' | translate }}
    </li>
    <li>
      {{ 'company.productServices.3' | translate }}
    </li>
    <li>
      {{ 'company.productServices.4' | translate }}
    </li>
    <li>
      {{ 'company.productServices.5' | translate }}
    </li>
    <li>
      {{ 'company.productServices.6' | translate }}
    </li>
    <li>
      {{ 'company.productServices.7' | translate }}
    </li>
    <li>
      {{ 'company.productServices.8' | translate }}
    </li>
    <li>
      {{ 'company.productServices.9' | translate }}
    </li>
    <li>
      {{ 'company.productServices.9' | translate }}
    </li>
  </ul>

</div>